body{
  background-color: lightblue;
}

.link:link{
  text-decoration: none;
  color: black;
}

.link:hover{
  text-decoration: none;
  color: black;
}

.link:-webkit-any-link{
  color: black;
}

li{
  float: left;
  color: white;
  text-align: center;
}

.li {
  display: block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

li a:hover {
  background-color: #111;
}

h1{
  float:left;
  margin-right: 500px;
  margin-left: 100px;
  font-family: helvetica;
  font-size: 15px;
}

.contact {
  float: left;
  color: white;
}

.li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ulcontact {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a:hover {
  background-color: #111;
}

.none{
  text-decoration: none;
}

.bodyaboutme{
  background-color:
}

.aboutme{
  float: left;
  color: white;
}

.li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ulaboutme {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.bodywebsite{
  background-color: black;
}

.website{
  float: left;
  color: white;
}

.li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ulwebsite {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a:hover {
  background-color: #111;
}


.bodyproject{
  background-color: darkblue;
}

.project{
  float: left;
  color: white;
}

.li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ulproject {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1E3F52;
  margin-bottom: 100px
}

li a:hover {
  background-color: #111;
}

.Hproject{
  color: cyan;
  font-family: italic;
  font-size: 25px;
}

.Hbadges{
  color: yellow;
  font-family: italic;
  font-size: 25px
}

embed{
  margin-left: 50px;
}

div{
  display: block;
}

#task{
  position: relative;
  top: 15px;
  left: 10px;
}

#black{
  background-color: black;
  width: 220px;
  height: 220px;
  position: absolute;
  z-index: 1;
}

#yellow{
  background-color: yellow;
  width: 160px;
  height: 160px;
  position: absolute;
  z-index: 2;
}

#blue{
  background-color: blue;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 120px;
  left: 120px;
  z-index: 3;
}

#red{
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 4;
}

#green{
  background-color: green;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 75px;
  left: 75px;
  z-index: 5;
}

.kopje{
  margin-left: 20px;
  font-size: 20px;
}
