body{
  background-color: lightblue;
}

a:link{
  color: white;
  text-decoration: none;
}
a visited{
  color: white;
  text-decoration: none;
}

a:active{
  color: white;
}

a:-webkit-any-link{
  text-decoration: none;
}
