body{
  background-color: lightblue;
}

.link:link{
  text-decoration: none;
  color: black;
}

.link:hover{
  text-decoration: none;
  color: black;
}

.link:-webkit-any-link{
  color: black;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  float: left;
  color: white;
}

.li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a:hover {
  background-color: #111;
}

h1{
  float:left;
  margin-right: 500px;
  margin-left: 100px;
  font-family: helvetica;
  font-size: 20px;
}

.contact {
  float: left;
  color: white;
}

.li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ulcontact {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a:hover {
  background-color: #111;
}

.none{
  text-decoration: none;
}

.bodyaboutme{
  background-color:
}

.aboutme{
  float: left;
  color: white;
}

.li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ulaboutme {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.bodywebsite{
  background-color: black;
}

.website{
  float: left;
  color: white;
}

.li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ulwebsite {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a:hover {
  background-color: #111;
}
.link:link{
  text-decoration: none;
  color: #00FFFF;
}

.link:hover{
  text-decoration: none;
  color: #00FFFF;
}

.link:-webkit-any-link{
  color: #00FFFF;
}

.bodyproject{
  background-color: black
}

.project{
  float: left;
  color: white;
}

.li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ulproject {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1E3F52;
}

li a:hover {
  background-color: #111;
}
