body{
  background-color: black;
}

.contact {
  float: left;
  color: white;
}

.li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ulcontact {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8b0000;
}

li a:hover {
  background-color: #111;
}

.none{
  text-decoration: none;
  color: red;
}
